body {
    color: #343d52;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    background: #fff;
    justify-content: center;
    margin-bottom: 60px;
    -webkit-font-smoothing:antialiased;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}  

#avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 0 1px rgba(40, 43, 48, .4), 0 1px 4px rgba(40, 43, 48, .1);
}

.highlight {
    color: rgb(200, 92, 219, 0.8);
}

#github {
    transition:color .2s ease-in-out, background .2s ease-in-out;
    color: rgba(243, 149, 199, 0.3)
}

#github:hover {
    transition:color .2s ease-in-out, background .2s ease-in-out;
    color: rgba(243, 149, 199, 0.7)
}

#insta {
    transition:color .2s ease-in-out, background .2s ease-in-out;
    color: rgba(255, 96, 28, 0.3)
}

#insta:hover {
    transition:color .2s ease-in-out, background .2s ease-in-out;
    color: rgba(255, 96, 28, 0.75)
}

#email {
    transition:color .2s ease-in-out, background .2s ease-in-out;
    color: rgba(128, 53, 178, 0.3)
}

#email:hover {
    transition:color .2s ease-in-out, background .2s ease-in-out;
    color: rgba(128, 53, 178, 0.75)
}

#linkedin {
    transition:color .2s ease-in-out, background .2s ease-in-out;
    color: rgba(28, 73, 255, 0.3);
}

#linkedin:hover {
    transition:color .2s ease-in-out, background .2s ease-in-out;
    color: rgba(28, 73, 255, 0.75);
}

a {
    transition:color .2s ease-in-out, background .2s ease-in-out
}

header h1 {
    font-size: 32px;
    font-weight: 700;
    padding: 32px 0 24px;
}

header h2 {
    font-size: 22px;
    font-weight: 400;
}

header p {
    font-weight: 400;
    line-height: 1.6;
}

header h2 a.gseng {
    color: #1483fa;
    background: rgba(100, 168, 240, .05);
    text-decoration: none;
    font-weight: 500;
    padding: 0 4px;
    margin: 0;
    border-radius: 6px;
    line-height: 1.4
}

header h2 a.gseng:hover {
    background: rgba(100, 168, 240, .15);
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
}

p {
    font-size: 18px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}